@import "/node_modules/@fontsource/barlow/400.css";
@import "/node_modules/@fontsource/barlow/800.css";
@import "/node_modules/@fontsource/barlow/700.css";

html,
body {
  width: 100vw;
  font-family: barlow, sans-serif;
}

body {
  background-color: #393c49;
  margin: 0;
  font-family: barlow, sans-serif;
  color: #fff;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: barlow, sans-serif;
  color: #fff;
}

a,
button {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
