@import "/node_modules/@fontsource/barlow/400.css";
@import "/node_modules/@fontsource/barlow/800.css";

body {
  background-color: #393c49;
  margin: 0;
  font-family: barlow, sans-serif;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
